body {
	background-color: black;
	color: white;
	font-family: serif;

}

#h1_style {
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 20px;
	font-size: 300%;

}


p {
	font-family: sans-serif;
	padding: 20px;
	margin-left: 3px;
	font-size: 89%;
}


a:link {
	background-color: black;
	padding: 20px 45px;
	text-decoration: none;
	color:white;
	border-radius: 15px;
	border:1px solid white;
}

a:visited {
	background-color: black;
	padding: 20px 35px;
	text-decoration: none;
	color:white;
	border-radius: 45px;
	border:1px solid white;


}

a:hover {
	background-color: white;
	padding: 20px 45px;
	text-decoration: none;
	color:black;
	border-radius: 15px;
}

a:active {
	background-color: white;
	padding: 20px 45px;
	text-decoration: none;
	color:black;
	border-radius: 15px;
}

#list_border {
	background-color: black;
	border:1px solid white;
	height: 50px;
	padding: 15px;border-radius: 5px;


}