a:link,a:visited{
	color:white;
	padding:15px 25px;
	text-align: center;
	text-decoration: none;
	background-color: rgba(255,0,0,0.5);
	display: inline-block;
	border-radius: 15px;
}

a:hover, a:active{
	background-color: red;
}


