body {
	background-color: black;
	color: white;
	font-family: serif;

}


a:link {
	background-color: black;
	padding: 20px 45px;
	text-decoration: none;
	color:white;
	border-radius: 15px;
	border:1px solid white;

}

a:visited {
	background-color: black;
	padding: 20px 35px;
	text-decoration: none;
	color:white;
	border-radius: 45px;
	border:1px solid white;


}

a:hover {
	background-color: white;
	padding: 20px 45px;
	text-decoration: none;
	color:black;
	border-radius: 15px;
}

a:active {
	background-color: white;
	padding: 20px 45px;
	text-decoration: none;
	color:black;
	border-radius: 15px;
}

.h1_style {
	max-width: 600px;
	text-align: center;
	border-bottom: 1px solid white;
	margin: 30px auto;
}


.Display_Menu {
	background-color: white;
	border-radius: 15px;
	max-width: 600px;
	height: 60px;
	text-align: left;
	margin: 30px auto;
	padding: 1px 10px;
	border-bottom: 2px solid gray;
	border-left: 2px solid gray;
}


.a_button {
	position: relative; top: 21px ;
	justify-content: center;
	align-content: center;
	align-items: center;


}


.background_h2_footer {

}

